# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore databases
*.db
*.sqlite3

# Ignore environment & log files
.env
*.log

# Ignore editor and dependency folders
.vscode/
.idea/
node_modules/

# Ignore static/media files (optional)
static/
media/

*.md