services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    user: "${UID}:${GID}"
    volumes:
      - .:/app:delegated
    ports:
      - "8000:8000"
    environment:
      DJANGO_DEBUG: "True"
      DJANGO_ALLOWED_HOSTS: "localhost,127.0.0.1,0.0.0.0"
      DATABASE_NAME: "mydatabase"
      DATABASE_USER: "myuser"
      DATABASE_PASSWORD: "mypassword"
      DATABASE_HOST: "db"
      DATABASE_PORT: "5432"
    depends_on:
      - db
    command: >
      sh -c "
      python manage.py makemigrations --noinput &&
      python manage.py migrate &&
      python manage.py collectstatic --noinput &&  
      gunicorn --bind 0.0.0.0:8000 --timeout 120 backend.wsgi:application
      "

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: mydatabase
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./static:/app/static
    depends_on:
      - web

volumes:
  postgres_data:
